! Xresources
!
!
!
!
!
!
!

!----------------------------------------------------
! Xft Settings
!----------------------------------------------------
Xft.dpi:                96
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintfull
Xft.hinting:            1
Xft.antialias:          1
Xft.rgba:               rgb

!----------------------------------------------------
! URxvt Settings
!----------------------------------------------------
URxvt.internalBorder:   0
URxvt.scrollBar:        false
URxvt.letterSpace:      -1
URxvt.font:             xft:Iosevka Term:size=11
urxvt.saveLines:        1048576

!----------------------------------------------------
! URxvt Colors
!----------------------------------------------------
#include "/home/droo/.cache/wal/colors.Xresources"

! Clickable links
URxvt.perl-ext-common:  default,matcher,keyboard-select
URxvt.url-launcher:     /usr/bin/chromium
URxvt.matcher.button:   1
